

if SHIELD_SHIKAKUI_LEFT

config ZMK_BATTERY_REPORTING
	default n

config ZMK_KEYBOARD_NAME
	default "shikakui"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SHIKAKUI_LEFT || SHIELD_SHIKAKUI_RIGHT

config ZMK_SPLIT
	default y
endif
