

if SHIELD_BLOQ_LEFT

config ZMK_BATTERY_REPORTING
	default n

config ZMK_KEYBOARD_NAME
	default "bloq"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_BLOQ_LEFT || SHIELD_BLOQ_RIGHT

config ZMK_SPLIT
	default y
endif
