

if SHIELD_ZQET_LEFT

config ZMK_BATTERY_REPORTING
	default n

config ZMK_KEYBOARD_NAME
	default "zqet"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ZQET_LEFT || SHIELD_ZQET_RIGHT

config ZMK_SPLIT
	default y
endif
