#include <dt-bindings/zmk/matrix_transform.h>

/ {

  chosen {
    zmk,kscan = &kscan0;
    zmk,matrix_transform = &default_transform;
  };

  kscan0: kscan {
    compatible = "zmk,kscan-gpio-matrix";
    label = "KSCAN";
    diode-direction = "col2row";
    col-gpios =
      <&pro_micro 3 GPIO_ACTIVE_HIGH>,
      <&pro_micro 3 GPIO_ACTIVE_HIGH>,
      <&pro_micro 3 GPIO_ACTIVE_HIGH>,
      <&pro_micro 3 GPIO_ACTIVE_HIGH>,
      <&pro_micro 3 GPIO_ACTIVE_HIGH>
    ;
    row-gpios =
      <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
  };

  default_transform: keymap_transform_0 {
    compatible = "zmk,matrix-transform";
    columns = <10>;
    rows = <4>;
    map = <
      RC(0,0) RC(0,0) RC(0,0) RC(0,0) RC(0,0)  RC(0,0) RC(0,0) RC(0,0) RC(0,0) RC(0,0)
      RC(0,0) RC(0,0) RC(0,0) RC(0,0) RC(0,0)  RC(0,0) RC(0,0) RC(0,0) RC(0,0) RC(0,0)
      RC(0,0) RC(0,0) RC(0,0) RC(0,0) RC(0,0)  RC(0,0) RC(0,0) RC(0,0) RC(0,0) RC(0,0)
              RC(0,0) RC(0,0) RC(0,0)  RC(0,0) RC(0,0) RC(0,0)
    >;
  };
};
