#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define TAPPING_TERM 200
#define U_MOUSE_MOVE_EXPONENT 1
#define U_MOUSE_MOVE_TIME 1500
#define U_MOUSE_MOVE_DELAY 0
#define U_MOUSE_SCROLL_EXPONENT 1
#define U_MOUSE_SCROLL_TIME 5000
#define U_MOUSE_SCROLL_DELAY 0

// Layer definitions

#define L0 0
#define L1 1
#define L2 2
#define L3 3
#define L4 4
#define L5 5
#define L6 6
#define L7 7
#define L8 8
#define L9 9

// Mouse movement configuration

&mmv {
    acceleration-exponent = <U_MOUSE_MOVE_EXPONENT>;
    time-to-max-speed-ms = <U_MOUSE_MOVE_TIME>;
    delay-ms = <U_MOUSE_MOVE_DELAY>;
};

&msc {
    acceleration-exponent = <U_MOUSE_SCROLL_EXPONENT>;
    time-to-max-speed-ms = <U_MOUSE_SCROLL_TIME>;
    delay-ms = <U_MOUSE_SCROLL_DELAY>;
};

/ {
    macros {
        // Bluetooth select with clear on shift

        ubt1: ubt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
        };

        ubt2: ubt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
        };

        ubt3: ubt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
        };

        ubt4: ubt4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
        };
    };

    behaviors {
        mtc: mod_tap_custom {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp &kp>;
        };

        ltc: layer_tap_custom {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo &kp>;
        };

        l1_comma: l1_comma {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo &comma>;
        };

        l2_dot: l2_dot {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo &dot>;
        };

        bspc: bspc {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC";
            bindings = <&kp BACKSPACE &kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slash: slash {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH";
            bindings = <&kp SLASH &kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot: dot {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT";
            bindings = <&kp DOT &kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma: comma {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA";
            bindings = <&kp COMMA &kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lparen: lparen {
            compatible = "zmk,behavior-mod-morph";
            label = "LPAREN";
            bindings = <&kp LEFT_PARENTHESIS &kp LEFT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rparen: rparen {
            compatible = "zmk,behavior-mod-morph";
            label = "RPAREN";
            bindings = <&kp RIGHT_PARENTHESIS &kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lbracket: lbracket {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRACKET";
            bindings = <&kp LEFT_BRACKET &kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbracket: rbracket {
            compatible = "zmk,behavior-mod-morph";
            label = "RBRACKET";
            bindings = <&kp RIGHT_BRACKET &kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        colon: colon {
            compatible = "zmk,behavior-mod-morph";
            label = "COLON";
            bindings = <&kp COLON &kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        quotes: quotes {
            compatible = "zmk,behavior-mod-morph";
            label = "QUOTES";
            bindings = <&kp SINGLE_QUOTE &kp DOUBLE_QUOTES>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        NOR {
            display-name = "Base";
            bindings = <
&gresc  &kp L  &kp W      &kp T    &kp Y             &kp J              &kp U   &kp M     &kp O  &trans
&kp Z   &kp R  &kp S      &kp D    &kp G             &kp H              &kp N   &kp E     &kp I  &kp Q
&mtc LEFT_SHIFT A  &kp X  &kp C      &kp V    &l1_comma L1 0    &l2_dot L2 0       &kp F   &kp B     &kp K  &mtc RIGHT_SHIFT P
               &kp LCTRL  &kp TAB  &ltc L1 SPACE     &ltc L2 ENTER     &bspc  &kp LGUI
            >;
        };

        NAV {
            bindings = <
&trans          &kp HOME        &kp UP_ARROW  &kp END        &lbracket    &rbracket  &trans   &trans   &trans  &trans
&kp LEFT_SHIFT  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &lparen      &rparen    &colon   &quotes  &trans  &trans
&trans          &kp PAGE_UP     &kp C_PP      &kp PAGE_DOWN  &trans       &trans     &dot     &comma   &trans  &trans
                                &trans        &kp LEFT_GUI   &trans       &trans     &kp DEL  &trans
            >;
        };

        NUM {
            bindings = <
&trans          &kp N1  &kp N2  &kp N3  &kp EQUAL    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_3  &kp DEL
&kp LEFT_SHIFT  &kp N4  &kp N5  &kp N6  &kp N0       &kp NUMBER_4  &kp N5        &kp NUMBER_6  &dot          &kp N0
&trans          &kp N7  &kp N8  &kp N9  &kp SLASH    &kp N7        &kp N8        &kp N9        &comma        &kp EQUAL
                        &trans  &trans  &trans       &trans        &trans        &trans
            >;
        };

        COM {
            bindings = <
&trans  &mkp MB1        &mmv MOVE_UP    &mkp MB2         &trans    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp W     &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&trans  &msc SCRL_UP    &mkp MB3        &msc SCRL_DOWN   &trans    &kp F11  &kp F12  &trans  &trans  &trans
                        &trans          &trans           &trans    &trans   &trans   &trans
            >;
        };

        EXTRA {
            bindings = <
&trans  &trans     &trans     &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans     &trans       &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)    &trans  &trans  &trans  &trans  &trans
                   &trans     &trans     &trans       &trans  &trans  &trans
            >;
        };

        QWERTY {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
